.search-body {
  border: 5px solid black;
}

ul {
  list-style-type: none;
}

.book-img {
  height: 100%;
  width: 20%;
}

.card-img-side {
  max-width: 100px;
  height: 100%;
  float: left;
  margin-right: 10px;
}

.book-flex {
  display: flex;
  flex-direction: row;
}

.admin-container {
  display: flex;
  justify-content:space-around;
}

.admin-search-container {
  width: 50%;
}

.admin-add-container {
  width: 40%;
  height: 100%;
  border: 5px solid black;
}