<app-navbar></app-navbar>

<div class="container-md body-container">
  <h1>Welcome User!</h1>
  <br>
  <h2>Let me walk you through how this application works</h2>
  <h3></h3>
  <br>
  <h4>Search for books</h4>
  <p>Search for books by utilizing the search function. There are also different ways to filter searches</p>
  <br>
  <h4>Check books out</h4>
  <p>Check out books by utilizing the search bar. If there is at least one copy available, then you may check out the
    book</p>
  <br>
  <h4>Check books in</h4>
  <p>Check in books by pressing the return button next to the book within your booklist</p>
  <br>
  <h4>Recent additions</h4>
  <p>Check the recent additions tab to find a history of the most recent books added to the database</p>
  <br>
  <h4>Additional rules</h4>
  <p>1. Each user can have at most, up to 10 books checked out</p>
  <p>2. Each book can be checked out for up to 2 weeks</p>
  <br>
  <h2>And thats it! Thanks for using this application</h2>
</div>